.window_logo {
  color: black;
}

.main_container {
  width: 95%;
  height:800px;
  background-image: url('../images/home_bg_img.jpg');
  background-size: cover; /*  or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  margin:auto;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_blur {
  /* opacity: 0.5; */
  width: 95%;
  height:800px;
  background-image: url('../images/home_bg_img.jpg');
  background-size: cover; /*  or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  margin:auto;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.nav {
  font-size: 36px;
  font-family: 'Playfair Display';
  font-weight: 700; 
  line-height: 47.99px;
  padding: 20px;
  margin:auto;
}

.profile {
  float: right;
  margin-right: 14px;
}

.main_input {
  width: 100%;
  width: 500px;
  padding: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.main_input_open {
  width: 100%;
  width: 500px;
  padding: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  /* margin-top: 369px; */
}

.dropdown_input {
  padding: 4px;
  border-radius: 15px;
  border: 1px solid grey;
  height: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  width: 97%;
}

input[type="text"]::placeholder {  
  padding-left: 3px;
} 

.websites_button {
  margin-left: -107px;
  margin-right: 7px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.website_button_li {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.websites_dropdown {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 6px;
  float: right;
  width: 400px;
  margin-right: -27px;
}

.searchbar_dropdown {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  margin-top: 6px;
  width: 500px;
  overflow: auto;
}

.searchbar_images {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 15px;
}

.filter_button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.search_button_svg {
  width: 23px;
  height: 22px;
  border: none;
  border-radius: 15%;
  background-color: #FA454F;
  cursor: pointer;
  position:absolute;
  margin-top: 3px;
}

ul {
  padding-inline-start: 0px;
  padding: 10px;
  margin-bottom: -5px;
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.signup_login {
  background-color: #E3ECFF;
  border-radius: 15px;
  border: 2px solid #88a9ed;
  display: flex;
  width: 65%;
  justify-content: space-evenly;
}

.signup_login_p {
  
}

#svg-container {
  display: flex;
  align-items: center;
  height: 100%;
}

#svg-1 {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 25%;
  margin-bottom: 14px;
}

a {
  text-decoration: none;
}

.website_li {
  margin-bottom: 10px;
  margin-right: 10px;
}

.websites_dropdown_ul {
  margin-top: -10px;
}

.filter_sort {
  display: flex; 
  justify-content: space-between;
  padding-left: 20px; 
  padding-right: 20px;
}

.outer_div_filters_on_left {
  display: flex;
  padding: 20px;
}

.filter_button_websites_dropdown {
  display: flex;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.carrot {
  transform: rotate(180deg); 
  margin-left: 10px;
}

.searchbar_trending {
  font-size: 10px;
  margin-left: 20px;
  font-weight: 600;
}

.trending_div {
  padding: 5px;
  margin-bottom: 50px;
}

.trending_ul {
  display: flex;
  margin-top: -12px;
}

.trending_website_button_li {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-left: 10px;
  margin-right: 10px;
}

.saved_websites_div {
  margin-bottom: 20px;
}

.saved_websites_p {
  color: grey;
  font-size: 10px;
}

.svg_div_desktop {
  margin: auto;
}

.svg_outer_div {
  display: flex;
  justify-content: space-between;
}

.hr_website_dropdown {
  border: 3px solid #EDEDED;
}

.your_saved_websites_p {
  font-size: 10px;
  font-weight: 600;
}

.your_saved_websites_div {
  margin: auto; 
  display: flex; 
  justify-content: space-evenly;
  font-size: 14px;
}

.hr_separater {
  border-top: 0px solid gray;
}

.website_outer_div_button {
  display: flex;
  color: #585555;
}

.website_div_text {
  font-size: 15px;
}

.signup_login_icon_svg {
  margin-bottom: 10px
}

@media (max-width: 700px) {
  .main_input {
    width: 350px;
  }
  .main_input_open {
    width: 350px;
  }
  .websites_dropdown {
    width: 330px;
    margin-right: 0px;
  }
  .searchbar_dropdown {
    width: 370px;
  }
  .searchbar_images {
    width: 70px;
  }
  .signup_login {
    width: 100%;
  }
  .websites_button {
    margin-left: -60px;
  }
  .search_button_svg {
    background-color: transparent;
  }
  input[type="text"].dropdown_input {  
    padding-left: 10px;
  }
  input[type="text"].main_input {
    padding-left: 23px;
  }
}

@media (max-width: 600px) {
  .main_input {
    width: 250px;
  }
  .main_input_open {
    width: 250px;
  }
  .websites_dropdown {
    width: 230px;
    margin-right: 
  }
  .searchbar_dropdown {
    width: 270px;
  }
  .signup_login {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .profile {
    margin-right: 10px;
  }
}